body{
    font-family: "Gabarito", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 2px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbarl__title{
    color: violet;
}
.navbarc__search{
    border: none;
    width: 100%;
    font-size: 16px;
    outline: none;
}
.navbarc{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 2px;
}
.navbarc__search:hover{
    outline: none;
}
.navbarr{
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu{
    display: none;
}
.ml{
    position: relative;
    cursor: pointer;
}
.popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
}
.ml:hover .popup{
    display: block;
}
.categories{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
}
.categories p{
    color: white;
    background-color: violet;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    border: solid violet 1px;
}
.categories p:hover{
    background-color: transparent;
    color: black;
    border: solid violet 1px;
    transition: 1s;
}
.saleimage img{
    width: 100%;
}
.saleimage{
    position: relative;
}
.offerbox{
    border: solid black 1px;
    background-color: white;
    width: 35%;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: scale;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes scale {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.coursecard{
    padding: 10px;

}
.coursecard__img{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}
.coursecard__img img{
    width: 100%;
    height: 50%;
}
.imgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.topics{
    padding: 10px;
}
.topicsrecommended{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topicsrecommended p{
    border: solid grey 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.pimgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
}
.details{
    display: flex;

}
.d1, .d2{
    padding: 10px;
}
.last{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
}
.d1 p,.d2 p{
    padding: 10px;
}
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}
@media screen and (max-width:600px) {
    .coursecard__img{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbarc, .navbarr{
        display: none;
    }
    .menu{
        display: block;
    }
    
}